.form-field { margin-bottom: 10px; }
.popup {
    height: 100%;
    opacity: 1;
    position: fixed;
    z-index: 111;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    z-index: 11111;
    display: none;
}
.popup:before {
    content: '';
    background-color: rgba( 0, 0, 0, 0.60 );
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.thank-popup {
    max-width: 425px;
    margin: auto;
    padding: 50px 10px;
    border-radius: 3px;
    border: 1px solid #000000;
    box-shadow: 0px 0px 30px 0px rgba( 2, 2, 2, 1.00 );
    background-color: rgba( 255, 255, 255, 1.00 );
    z-index: 1;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.close-btn {
    background: #000;
    font-size: 20px;
    height: 20px;
    width: 20px;
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}
.thank-popup h3 { margin: 0; }


.hero-bg-section { position: relative; z-index: 5; background-color: #f6f6f6; min-height: 200px; margin-top: 0px; }
.hero-banner-section { min-height: 510px; }
.hero-banner-section img.hero-img { width: 100%; height: 100%; font-family: "object-fit: cover;"; -o-object-fit: cover; object-fit: cover; -o-object-position: 50% 50%; object-position: 50% 50%; }
.hero-banner-section img.desktop { height: calc(100vh - 12rem); }
.desktop { display: block; }
.mobile { display: none; }
.hero-container { max-width: 1170px; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; margin: 0 auto; position: absolute; }
.table { width: 100%; height: 100%; display: table; }
.table-cell { display: table-cell; vertical-align: middle; }
.hero-banner-text h1 { color: #ffffff; margin-bottom: 0; text-transform: capitalize; }
.hero-bg { max-width: 1440px; margin: 0 auto; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; position: absolute; background-repeat: no-repeat; background-position: center; background-size: cover; z-index: -1; }
.hero-container .white-bg { box-shadow: -50px 50px 65px 0 rgba(0, 0, 0, 0.5); background-color: #ffffff; font-size: 20px; line-height: 30px; }
.hero-contact-text { width: 416px; padding: 39px 37px 47px 50px; }

input[type="search"] {background-color:transparent; color:#566272; font-family:'Open Sans', sans-serif;  font-weight:normal; font-size:16px; border-radius:0; border:1px solid #566272; padding:11px 18px 13px; background-position:95% 15px;}
input[type="search"]:focus {border:1px solid #566272;}
input, select, textarea {
    outline: 0;
    border: 1px solid #e2e2e2;
    border-radius: 40px;
    background-color: transparent;
    box-shadow: none;
    padding: 13px 27px 12px;
    font-family: inherit;
    font-weight: normal;
    vertical-align: middle;
    width: 100%;
    position: relative;
    z-index: 10;
}
textarea {width:100%; resize:none; height:143px;}
input:focus, textarea:focus {box-shadow:none; outline:0;}

input[type="button"], input[type="reset"], input[type="submit"] {background-color:#fa5f03; border:0 none; box-shadow:none; outline:0; border-radius:0; color:#ffffff; font-size:11.67px; font-weight:700; line-height:normal; font-family:'Open Sans', sans-serif;  padding:9px 14px 9px 14px; text-transform:uppercase; vertical-align:middle; transition:all 0.5s ease 0s; -webkit-transition:all 0.5s ease 0s; -moz-transition:all 0.5s ease 0s; -o-transition:all 0.5s ease 0s; }
input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {background-color:#0d015f; color:#ffffff;}
input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {background-color:#fa5f03; color:#ffffff;}
.search-field {width:100%;}
.search-submit {display:none;}


/* Buttons */
button, .button {
  display: inline-block;
  background-color: #00a550;
  border-radius: 34px;
  color: #ffffff;
  font-size: 14px;
  line-height: normal;
  padding: 9px 25px;
  vertical-align: middle;
  cursor: pointer;
  font-weight: 700;
  border: 0 none;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
a.read-more-button {
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
}
a.read-more-button i.fa {
font-size: 25px;
  margin-left: 9px;
position: relative;
  top: 4px;
}

button:hover, button:focus{background-color: #00ce64; color:#ffffff;}

button:hover, button:focus, .button:hover, .button:focus {background-color: #00ce64; color:#ffffff;}
button:active, .button:active {background-color: #00a550; color:#ffffff;}


