<section class="hero-contact-setion hero-banner-section hero-bg-section">
		<div class="hero-bg desktop" style="background-image: url('/../assets/services-banner.jpg');"></div>
		<div class="hero-container">
			<div class="table">
				<div class="table-cell">
					<div class="hero-contact-text white-bg">
						<h2>Contact Us</h2>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="about-content">
		<div class="container">
			<div class="about-content-main">
				<div class="popup-form">
					<div class="contact-page-form">
						<div class="contact-form">
							<h3>Request call back</h3>
							<p>Please fill the below form and will get back to you within 24 hours.</p>
							<form class="form" id="contact_form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
						    	<div class="frm_form_field form-field">
                    <input type="text" name="name"   placeholder="Name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Name is required</div>
                    </div>
								  </div>
								<div class="frm_form_field form-field" >  <!-- field-required -->
                    <input type="email" name="email" placeholder="Email Address" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
								</div>
								<div class="frm_form_field form-field">
								    <input type="tel" id="phone" placeholder="Phone Number" name="phone" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                        <div *ngIf="f.phone.errors.required">phone number is required</div>
                    </div>
                </div>
                <div class="frm_form_field form-field">  <!-- field-required -->
                  <textarea name="message" placeholder="message" formControlName="message" [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
                  <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                      <div *ngIf="f.message.errors.required">message is required</div>
                  </div>
                </div>
								<div class="frm_submit">
									<button class="frm_button_submit" >Submit</button>
								</div>

						   </form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="popup" id="popup">
		<div class="thank-popup">
			<h3>form submitted successfully</h3>
			<div class="close-btn">
				<a href="javascript:void(0)" (click)="hidePopUp()">x</a>
			</div>
		</div>
	</div>
